@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-about {
  &.home {
    padding: fluid(50, 100) 0 fluid(40, 100) 0;

    & .heading {
      margin-bottom: fluid(10, 35);
    }

    & .description {
      margin-bottom: fluid(30, 50);
    }

    & .awards {
      display: grid;
      grid-template-columns: 53px 1fr;
      gap: 13px;

      &:not(&:last-child) {
        margin-bottom: 20px;
      }

      &__title {
        font-size: fluid(15, 18);
      }

      &:nth-child(2) {
        & .awards__title {
          font-size: fluid(15, 20);
        }
      }

      &__wrap {
        margin-bottom: 20px;
      }
    }
  }

  & .img {
    &__wrap {
      @media (max-width: $breakpoint-md) {
        margin-bottom: 22px;
      }
    }
  }
}

.s-trust {
  padding: fluid(0, 20) 0 fluid(50, 100) 0;

  & .heading {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 22px;
    }
  }

  & .trust {
    border: 1px solid rgba(234, 234, 234, 1);
    min-height: 175px;
    padding: 30px 15px 25px 15px;

    &__wrap {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 20px;

      @media (max-width: $breakpoint-md) {

        gap: 0;
      }
    }

    &__title {
      font-size: fluid(14, 20);
    }

    &__icon {
      &-wrap {
        margin-bottom: fluid(20, 28);
      }
    }
  }
}


.s-mission {
  padding: 0 0 120px 0;

  @media (max-width: $breakpoint-md) {
    padding: 60px 0 80px 0;
  }

  & .heading {
    margin-bottom: fluid(20, 29);
  }

  & .decor {
    position: absolute;
    bottom: 140px;
    width: 100%;
    z-index: -1;

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  .mission {
    &__img {
      width: 55%;
      height: 55%;

      &-wrap {
        width: fluid(62, 72);
        height: fluid(62, 72);
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
      }
    }

    &__header {
      display: grid;
      grid-template-columns: fluid(62, 72) 1fr;
      gap: 16px;
      align-items: center;
      margin-bottom: fluid(16, 24);
    }

    &__title {
      font-size: fluid(16, 20);
    }

    &__description {
      margin-top: 24px;
      line-height: 1.4;
      @include fontSize(14, 16);
      color: #1B1B1B;

    }

    &__item {
      background-color: #fff;
      box-shadow: 0px 0px 30px 0px rgba(60, 80, 114, 0.2);
      padding: 24px;

    }

    &__wrap {
      margin-top: 56px;

      @media (max-width: $breakpoint-md) {
        margin-top: 32px;
      }

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 22px 20px;
      margin-top: 35px;

      @media (max-width: $breakpoint-lg) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }

      @media (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
        gap: 12px;
      }
    }
  }
}

.s-certificates {
  margin-bottom: 140px;

  @media (max-width: $breakpoint-md) {
    margin-bottom: 100px;
  }

  & .certificate {
    &__item {
      border: 18px solid #fff;
      box-shadow: 0px 0px 30px 0px rgba(60, 80, 114, 0.2);
      background: #fff;
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

      &-wrap {
        padding-bottom: 62%;
      }
    }
  }

  & .heading {
    margin-bottom: 30px;

    @media (max-width: $breakpoint-md) {
      margin-bottom: 8px;
      text-align: center;
    }
  }



  & .swiper {

    &-container,
    &-wrapper,
    &-slide {
      overflow: visible !important;
    }

    &-slide {
      //padding: 20px 15px;
    }

    &-controls {
      margin-top: 10px;
    }
  }
}

.s-history {
  padding: 140px 0;
  background: #F4F4F4;

  @media (max-width: $breakpoint-md) {
    padding: 100px 0;
  }

  & .heading {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 32px;
      text-align: center;
    }
  }

  .history {
    &__title {
      @include fontSize(20, 24);
      margin-bottom: 24px;
    }

    &__item {}

    &__year {
      @include fontSize(14, 16);
      color: #0F0E68;

      &:after {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 1px solid rgba(232, 16, 16, 1);
        background-color: #fff;
        display: block;
        position: absolute;
        top: -52px;
        left: 50%;
        transform: translateX(-50%);
        @include transition(.3);
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

      &-wrap {
        padding-bottom: 100%;
      }
    }
  }

  .swiper {
    &-slide-thumb-active {


      &+.swiper-slide {}

      .history {
        &__year {
          color: rgba(232, 16, 16, 1);

          &:after {
            background-color: rgba(232, 16, 16, 1);
          }
        }
      }
    }

    &-bottom {
      margin-bottom: 56px;
      padding-top: 56px;
      position: relative;

      @media (max-width: $breakpoint-md) {
        margin-bottom: 18px;
      }

      &:after {
        content: '';
        background: rgba(15, 14, 104, 0.08);
        width: 100vw;
        margin-left: calc((-100vw + 100%) / 2);
        position: absolute;
        height: 6px;
        top: 11px;
      }
    }

    &-button__wrap {
      position: absolute;
      top: 0;
      right: 10px;

      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }
  }
}

.s-steps {
  padding: 140px 0 64px 0;

  @media (max-width: $breakpoint-md) {
    padding: 60px 0;
  }

  & .heading {
    margin-bottom: 36px;
  }

  & .step {
    &__wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
        gap: 30px;
      }
    }

    &__item {
      display: grid;
      grid-template-columns: 1fr;
      gap: fluid(10, 24);

      @media (max-width: $breakpoint-md) {
        &:after {
          content: '';
          width: 100%;
          height: 1px;
          background: rgba(0, 0, 0, 0.2);
          position: absolute;
          bottom: -15px;
          left: 0;
        }
      }
    }

    &__description p,
    &__heading {
      line-height: 1.4;
    }

    &__description {
      & * {
        font-size: fluid(14, 16);

        &:not(&:last-child) {
          margin-bottom: fluid(10, 18);
        }
      }

    }

    &__heading,
    &__number {

      font-size: fluid(16, 20);
    }

    &__number {

      color: rgba(232, 16, 16, 1);
    }
  }
}