@import "../abstracts/mixins";
@import "../abstracts/variables";



.s-category {
  padding: 56px 0 140px 0;

  .category-card {
    box-shadow: 0px 0px 30px 0px #3C507233;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    background: $white-color;
    display: block;

    &__title {
      @include fontSize(16, 20);
      padding: 0 fluid(16, 20);
      width: calc(100% - #{fluid(65, 76)});
    }

    &__more {
      width: fluid(65, 76);
      height: fluid(65, 76);
      border: 1px solid #E81010;

      & i {
        font-size: 16px;
        color: #E81010;
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;

      &-wrap {
        position: relative;
        padding-bottom: 75%;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
      }
    }
  }

  & .decor {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
}

.s-catalog {
  padding: 56px 0 140px 0;

  & .pagination {
    width:auto;
    &__wrap {
      margin-top: 50px;
      gap: 32px;
    }

  }

  & .product {
    &__wrap {
      grid-template-columns: 1fr 1fr 1fr;
      display: grid;
      gap: 20px;

      @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
      }
      @media (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
        gap: 15px;
      }
    }


  }

  .sidebar-filters {
    @media (min-width: $breakpoint-md) {
      display: none;
    }

  }


  .filter {
    &-section {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    &-title {
      position: relative;
      font-size: 14px;
      line-height: 20px;
      padding: 24px 60px 24px 24px;
      text-transform: uppercase;
      background-color: #f4f4f4;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        right: 30px;
        top: 50%;
        width: 12px;
        height: 12px;
        border-right: 1px solid rgba(177, 35, 45, 1);
        border-bottom: 1px solid rgba(177, 35, 45, 1);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -10px;
      }
    }
  }


  .filter-title:before {
    content: '';
    position: absolute;
    right: 30px;
    top: 50%;
    width: 11px;
    height: 11px;
    border-right: 1px solid rgba(177, 35, 45, 1);
    border-bottom: 1px solid rgba(177, 35, 45, 1);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -10px
  }

  .filter-section.filter-section-disabled .filter-title {
    cursor: default
  }

  .filter-section.filter-section-disabled .filter-title:before {
    content: none
  }

  .filter-section.active .filter-title:before {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-top: -3px
  }

  .filter-content {
    padding: 0 24px 24px 24px;
  }

  .filter-content .checkbox-entry {

  }

  .filter-content .checkbox-entry:last-child {
    margin-bottom: 0
  }

  .filter-section {
    // margin-bottom: 30px
  }

  .filter-section .filter-title {
    background-color: #fff;
    //border: 1px solid #f4f4f4
  }

  .filter-section .filter-content {
    /*border: 1px solid #f4f4f4;
     border-width: 0 1px 1px*/
  }

  .filter-link {
    display: block;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px
  }

  .filter-link.active {
    color: #e29b2f
  }

  .filter-link:last-child {
    margin-bottom: 0
  }

  .filter-btn {
    display: none;
    width: 60px;
    height: 60px;
    background: #e29b2f;
    right: -60px;
    position: absolute;
    top: 50%;
    margin-top: -75px
  }

  .filter-btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 30px;
    max-width: 30px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1
  }

  .filter-close-layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 119
  }

  .filter-wrap.active + .filter-close-layer {
    width: 100%;
    height: 100%
  }


}


.sidebar {
  @media (max-width: 767px) {
    & .filter-wrap {
      position: absolute;
      left: 10px;
      width: calc(100% - 20px);
      top: calc(100% - 22px);
      -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
      transform: translateX(-120%);
      -webkit-transition: .5s;
      transition: .5s;
      z-index: 3;
      background: #fff;
    }
    &.active {
      & .filter-wrap {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
      }

      & .sidebar-filters {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        padding: 20px;
        width: 100%;
        background: #fff;
        cursor: pointer;
        margin-bottom: 22px;
      }
    }
  }
}