@import "../abstracts/mixins";
@import "../abstracts/variables";

.product {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
  position: relative;

  &__title {
    font-size: fluid(14, 18);
    margin-bottom: 11px;
    padding: 0 10px;
  }

  &__detail {
    gap: 40px;
    display: grid;
  }

  &__img {
    &-wrap {
      margin-bottom: 11px;

      &:after {
        content: '';
        width: calc(100% - 20px);
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        left: 10px;
        bottom: 0;
      }
    }
  }

  &__label {
    padding: 6.5px 12px;
    font-size: 15px;
    color: #fff;

    &-wrap {
      position: absolute;
      top: 10px;
      left: 0;
    }

    &--discount {
      background: #B81313;
    }

    &--new {
      background: #359517;
    }

    &--promo {
      background: #0F0E68;
    }
  }

  &__meta {
    margin-bottom: 18px;
    padding: 0 10px;
  }

  &__sku,
  &__status {
    font-size: 15px;
    font-weight: 300;
  }

  &__sku {
    color: #5A5A5A;
  }

  &__status {
    color: #359517;
  }

  &__price {
    &-wrap {
      padding: 0 10px;
      margin-bottom: 25px;

      & .amount {
        font-size: 18px;
        font-weight: bold;
      }

      & .price {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 10px;

        &>ins {
          color: #FF3C00;
          text-decoration: none;
        }

        &>del {
          color: #1B1B1B;

          & .amount {
            font-weight: 300;
          }
        }
      }
    }
  }

  &__actions {
    & .btn {
      &-fav {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        color: rgba(200, 198, 229, 1);

        &:hover {
          color: #FF3C00;
        }
      }

      &-cart {
        min-height: 50px;
        width: calc(100% - 50px);
        background: rgba(200, 198, 229, 0.2);
        border-radius: 0;
        font-weight: 600;
        padding: 14px 0 13px 0;
        font-size: fluid(14, 16);

        & .icon-bag {
          font-size: fluid(16, 20);
          padding-right: fluid(7, 16);
        }
      }
    }
  }

  &__tabs {
    padding-bottom: fluid(45, 70);
    padding-top: fluid(50, 90);
    margin-bottom: fluid(50, 88);

    &:after {
      content: '';
      width: calc(100% - 20px);
      height: 1px;
      background: rgba(179, 176, 216, 0.4);
      position: absolute;
      left: 10px;
      bottom: 0;
    }

    & .tab__list {
      padding: 20px;
      box-shadow: 0px 0px 30px 0px rgba(60, 80, 114, 0.2);
      margin-bottom: 30px;
    }
  }
}

.product-specs {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__item {
    display: flex;
    justify-content: left;
    position: relative;

  }

  &__label,
  &__value {
    font-size: 16px;
    color: rgba(27, 27, 27, 1);
    position: relative;
    z-index: 2;
  }

  &__label {
    padding-right: 8px;
    width: 40%;
    min-width: 290px;
  }

  &__value {
    padding-left: 8px;
    font-weight: 700;
  }
}

.s-product-card {
  padding-top: 32px;

  & .kama_breadcrumbs {
    & a {
      color: rgba(27, 27, 27, 1);
    }

    & .kb_title {
      color: #0F0E68;
    }

    & .kb_sep {
      & i {
        color: rgba(27, 27, 27, 1);
      }

      &:has(+.kb_title) i {
        color: rgba(27, 27, 27, 1);
      }
    }
  }

  & .product {
    &__heading {
      font-size: fluid(30, 35);
      color: rgba(15, 14, 104, 1);
    }

    &__description {}

    &__meta {
      margin: 0;
      padding: 0;
    }

    &__price {
      &-wrap {
        padding: 0 10px;
        margin-bottom: 0;

        & .amount {
          font-size: 25px;
          font-weight: bold;
        }

        & .price {
gap:0;
          &>ins {
            color: #FF3C00;
            text-decoration: none;
            margin-right: 50px;
          }

          &>del {
            color: #1B1B1B;
            font-size: 20px;

            & .amount {
              font-weight: 300;
              font-size: 20px;
            }
          }
        }
      }
    }


    &-gallery {

      &__prev,
      &__next {
        height: 100%;
        top: 0;
      }

      &__prev {
        left: 0;
      }

      &__next {
        right: 0;
      }

      &__image,
      &__thumb {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        background: transparent;

        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }


      &__thumbs {
        & .swiper-container {
          width: calc(100% - 120px);
          margin: 0 auto;
        }


      }

      &__main {
        margin-bottom: 40px;
      }
    }

    &__controls {
      display: grid;
      gap: fluid(15, 32);
      justify-content: space-between;
      grid-template-columns: 1fr 1fr 65px;

      @media (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr 65px;
      }

      .btn {

        &-primary,
        &-transparent {

          font-weight: 600;
          font-size: 16px;
          text-transform: uppercase;
        }

        &-primary {
          @media (max-width: $breakpoint-sm) {
            grid-column: 1 / 3;
          }

        }

        &-fav {

          height: 65px;
          background: rgba(179, 176, 216, 0.2);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 65px;
          flex-shrink: 0;

          & i {
            color: rgba(200, 198, 229, 1);
            font-size: 26px;
            @include transition(.3);
          }

          &:hover {
            & i {
              color: rgba(255, 60, 0, 1);
            }
          }
        }
      }
    }

  }
}

.quantity-picker {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: 50px;

  &__input {
    width: 100px;
    height: 50px;
    text-align: center;
    border: none;
    appearance: textfield;
    border: 1px solid rgba(228, 228, 228, 1);
    border-width: 1px 0 1px 0;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }

  &__btn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: rgba(49, 39, 131, 1);
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 0;
    border: none;
    transition: background 0.3s;

    &:hover {
      background: rgb(255, 60, 0);
    }
  }
}