@import "../abstracts/mixins";
@import "../abstracts/variables";

// Змінні проєкту

$secondary: #222222; // Основний текст
$gray: #828282; // Другорядний текст
$light-bg: #F9F9F9; // Фон верхньої панелі

$white: #ffffff;

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  ;

  &.bg {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
  }

  // ВЕРХНЯ ПАНЕЛЬ (Top Bar)
  &__top {
    padding: 9px 0 9px 162px;

    font-size: 13px;
    position: relative;

    &:after {
      content: '';
      width: 100vw;
      position: absolute;
      height: 100%;
      left: calc(50% - 50vw);
      top: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: -1;
    }

    .social-label {
      color: $gray;
      margin-right: 15px;
      font-weight: 500;
    }

    .social {
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 10px;

      &__label {
        font-size: 16px;
        color: #fff;
        font-weight: 300;
        padding-right: 24px;
      }

      &__item a {
        width: 32px;
        height: 32px;
        background: rgba(255, 255, 255, 0.2);

        & i {
          font-size: 18px;
          color: $white-color;
          transition: color 0.3s;
        }

        &:hover {
          & i {
            color: red;
          }
        }
      }
    }

    .contact__info {
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      margin-right: 45px;
      gap: 12px;
      transition: all ease-out .3s;

      i {
        color: #fff;
        font-size: 18px;
      }

      &:hover {
        color: rgba(255, 60, 0, 1);
      }
    }



    .lang-switcher {
      list-style: none;
      margin: 0 0 0 25px;
      padding: 0;
      gap: 10px;
      font-weight: 700;
      border-left: 1px solid red;
      padding-left: 20px;

      .lang-item a {
        color: $gray;
        text-decoration: none;

        &:hover {
          color: $secondary;
        }
      }

      .current-lang-item a {
        color: red;
      }
    }
  }

  // НИЖНЯ ПАНЕЛЬ (Main Bar)
  &__bottom {
    padding: 43px 0;
  }

  .logo-link img {
    height: auto;
    width: 104px; // Налаштуйте під ваш логотип
    position: absolute;
    bottom: 20px;
  }

  // МЕНЮ НАВІГАЦІЇ
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;

    .menu-item {
      position: relative;

      a {
        display: block;
        padding: 10px 0;
        font-size: 17px;
        font-weight: 400;

        color: #fff;
        text-decoration: none;
        transition: color 0.3s;
        position: relative;

        &:after {
          content: '';
          width: 0;
          height: 4px;
          background: #B3B0D8;
          position: absolute;
          bottom: 0;
          left: 0;
          @include transition(.5);
        }
      }

      &:hover>a,
      &.current-menu-item>a {
        color: rgba(179, 176, 216, 1);
      }

      &.current-menu-item {
        & a {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }

  // КНОПКИ КЕРУВАННЯ (Search, User, Cart)
  &__controls {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .control-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $white-color;
    transition: color 0.3s;
    position: relative;

    i {
      font-size: 20px;

    }

    &__text {
      margin-left: 8px;
      font-weight: 500;
      font-size: 14px;
    }

    &:hover {
      color: rgba(255, 60, 0, 1);
    }

    &__icon-wrap {
      position: relative;
    }

    &__badge {
      position: absolute;
      top: -5px;
      right: -8px;
      background: #fff;
      color: rgba(255, 60, 0, 1);
      font-size: 10px;
      font-weight: 700;
      min-width: 16px;
      height: 16px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }

  // МОБІЛЬНА ПАНЕЛЬ
  &__mobile-bar {
    padding: 12px 0;

    .btn-icon,
    .btn-cart-min {
      background: none;
      border: none;
      color: $secondary;
      font-size: 20px;
      margin-right: 15px;
      text-decoration: none;
      position: relative;

      span {
        position: absolute;
        top: -5px;
        right: -5px;
        background: red;
        color: $white-color;
        font-size: 9px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .burger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    &__line {
      width: 100%;
      height: 2px;
      background: $secondary;
      transition: 0.3s;
    }
  }

  // ПОШУКОВА ПАНЕЛЬ (H-Search)
  /*.h-search {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: $white;
    padding: 20px 0;
    border-top: 1px solid $border;
    display: none; // Показується через JS
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

    &-form {
      display: flex;
      align-items: center;
      position: relative;

      input {
        width: 100%;
        padding: 12px 40px 12px 15px;
        border: 1px solid $border;
        border-radius: 4px;
        outline: none;

        &:focus {
          border-color: $primary;
        }
      }

      button[type="submit"] {
        position: absolute;
        right: 45px;
        background: none;
        border: none;
        color: $gray;
        font-size: 18px;
      }

      &__close {
        background: none;
        border: none;
        font-size: 24px;
        margin-left: 15px;
        cursor: pointer;
        color: $gray;

        &:hover {
          color: $primary;
        }
      }
    }
  }*/
}



.h-search {
  position: fixed;
  left: 0;
  top: 95px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  z-index: 105;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0.3s ease-out;

  & .container {
    max-width: 89.375rem;
  }

  &__inner {
    padding-inline: var(--sp-sm);
    height: var(--h-height);
  }
}

.h-overlay {
  cursor: pointer;
  position: fixed;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 80;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.search-open {
  & .h-search {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  & .h-overlay {
    opacity: 1;
    visibility: visible;
  }
}



.search>* {
  flex-shrink: 0;
}

.search input {
  flex-grow: 1;
  height: 100%;
  width: auto;
}

.header_search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  color: var(--clr-title);
  font-size: 1rem;
}

.search__btn {
  transition: opacity var(--transition-1);
  color: var(--clr-title);
  width: 1.25rem;
  height: 1.25rem;
  transition: opacity var(--transition-1);
}

.search__btn svg {
  display: block;
  width: 100%;
  height: 100%;
}

.search__btn_close {
  width: 1.5rem;
  height: 1.5rem;
}

:is(:focus, :hover, :active, :visited) {
  outline: none;
}